{% extends 'base.html' %}

{% block title %}Movies{% endblock %}

{% block content %}
{% csrf_token %}
<section class="movies">

    <h2>Movies</h2>
    <a href="{% url 'home' %}" class="btn btn-light">⬅️</a>
    <div class="movies__wrapper">
        {% for movie in rated_movie %}
        <div class="movies__card rounded">
            <div class="card-item">
                <h5>{{ movie.movie_details.get_name }} </h5>
            </div>
            <div class="card__item">Rating: {{ movie.movie_details.get_name }}
            </div>
            <div class="card__item">Genres: {{ movie.movie_details.get_genres }}
            </div>
            {% if user.is_authenticated %}
            <div class="card__item">Your rating: {{ movie.rating.name }} ({{ movie.rating.value }}) </div>
            <form action="{% url 'movies_rating' %}" method="POST" class="rated">
                {% csrf_token %}
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select>
                <input name="movie_id" type="hidden" value="{{movie.movie_details.get_id}}">
                <input type="submit" value="Rate" class="btn card__btn btn-warning">
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}